src/by/it/kisielev/jd02_07/Books.dtd

<?xml version="1.0" encoding="UTF-8"?>
        <!ELEMENT Books (Book)+>
        <!ELEMENT Book (Name, Genres, Assessment, Comments)>
        <!ELEMENT Name (#PCDATA)>
        <!ELEMENT Genres (#PCDATA)>
        <!ELEMENT Assessment (#PCDATA)>
        <!ELEMENT Comments (Comment)+>
        <!ELEMENT Comment (NameBook, AssessmentBook, СommentBook)>
        <!ELEMENT NameBook (#PCDATA)>
        <!ELEMENT AssessmentBook (#PCDATA)>
        <!ELEMENT СommentBook (#PCDATA)>

